@import '../../assets/styles/variables.scss';

mat-grid-list {
  height: calc(100vh - 6rem);
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

dt-panel.scrollable /deep/ mat-card-content {
  overflow-y: auto;
}

.result {
  font-size: 1.5rem;

  /deep/ span.add {
    background: #4caf50;
    padding: 0 0.25rem
  }

  /deep/ span.remove {
    background: #f34336;
    padding: 0 0.25rem
  }

}
