:host {
  display: block;
}

mat-card {
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  background: #424242;
  border: 1px solid rgba(255, 255, 255, 0.03);
  padding: 0;
}

mat-card-header {
  padding: 0.5rem 1rem;
  max-height: 3.5rem;
  color: rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.03);
  height: 3.5rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  mat-card-title {
    margin: 0;
    font-weight: 400;
    font-size: 1.0rem;
  }
}

mat-card-content {
  padding: 0.5rem;
  width: 100%;
  height: calc(100% - 3.5rem);
  box-sizing: border-box;
}
