<mat-tab-group>
  <mat-tab label="New">
    <dt-panel class="fill" title="New">
      <dt-panel-actions *ngIf="isEditView()">
        <button mat-button *ngIf="codeFormat" (click)="format()">Format</button>
        <mat-form-field>
          <mat-select placeholder="Language" [(ngModel)]="codeFormat">
            <mat-option value="css">CSS</mat-option>
            <mat-option value="json">JSON</mat-option>
            <mat-option value="xml">XML</mat-option>
          </mat-select>
        </mat-form-field>
      </dt-panel-actions>
      <dt-panel-actions *ngIf="!isEditView()">
        <button mat-button (click)="clear()">Clear</button>
        <button mat-button (click)="save()">Save</button>
      </dt-panel-actions>
      <dt-panel-content *ngIf="isEditView()">
        <textarea class="fill" matInput placeholder="Please Enter Text Here" [(ngModel)]="newPage.text"></textarea>
      </dt-panel-content>
      <dt-panel-content *ngIf="!isEditView()">
        <pre><code [innerHtml]="newPage.code"></code></pre>
      </dt-panel-content>
    </dt-panel>
  </mat-tab>
  <mat-tab *ngFor="let page of pages; let i = index" [label]="page.label">
    <dt-panel class="fill" [title]="page.label">
      <dt-panel-actions>
        <button mat-button (click)="delete(i)">Delete</button>
      </dt-panel-actions>
      <dt-panel-content>
        <pre><code [innerHtml]="page.code"></code></pre>
      </dt-panel-content>
    </dt-panel>
  </mat-tab>
</mat-tab-group>
