<!-- HEADER -->
<mat-toolbar color="primary">
  <mat-icon>build</mat-icon>
  <span>Dev Tools</span>
  <span class="spacer"></span>
  <button mat-icon-button *ngIf="sourceLinkActive()" (click)="viewSource()">
    <mat-icon class="mat-24" aria-label="View source">code</mat-icon>
  </button>
  <a mat-button href="https://github.com/alexmbrown/dev-tools">GITHUB</a>
</mat-toolbar>
<mat-sidenav-container>
  <!-- SIDENAV -->
  <mat-sidenav #sidenav mode="side" opened="true">
    <nav>
      <ul>
        <li><mat-list-item><a routerLink="/about" routerLinkActive="active">About</a></mat-list-item></li>
      </ul>
    </nav>
    <nav>
      <h3>Text</h3>
      <ul>
        <li><a routerLink="/text-diff" routerLinkActive="active">Difference</a></li>
        <li><a routerLink="/text-format" routerLinkActive="active">Format</a></li>
      </ul>
    </nav>
  </mat-sidenav>
  <!-- CONTENT -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
