<md-tab-group>
  <md-tab label="Description">
    <div class="test2" [innerHtml]="readme | markdown"></div>
  </md-tab>
  <md-tab label="HTML">
    <pre><code [innerHtml]="html | syntaxHighlight: 'html'" class="language-html"></code></pre>
  </md-tab>
  <md-tab label="TS">
    <pre><code [innerHtml]="ts | syntaxHighlight: 'typescript'" class="language-typescript"></code></pre>
  </md-tab>
  <md-tab label="SCSS">
    <pre><code [innerHtml]="scss | syntaxHighlight: 'scss'" class="language-scss"></code></pre>
  </md-tab>
</md-tab-group>
